@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Account>
@{
    ViewBag.Title = "Account List";
}
<a asp-action="Create" class="btn btn-primary pull-right">Create New Account</a>
<h1>Accounts</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        @foreach (var acct in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>@acct.username</strong>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><label asp-for="@acct.email"></label>: @acct.email</li>
                        <li class="list-group-item"><label asp-for="@acct.phone"></label>: @acct.phone</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
